@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<p>
    <MatTextField @bind-Value="@currentCount" Label="Standard" Outlined="true"></MatTextField>
</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;



    private void IncrementCount()
    {
        currentCount++;
    }
}
